@tailwind base;
@tailwind components;
@tailwind utilities;

.tittle {
  @apply md:text-4xl text-3xl font-semibold text-sky-500 my-1;
}

.subtittle {
  @apply md:text-2xl text-xl font-medium text-sky-900 mb-4;
}

.text {
  @apply text-gray-900 text-center;
}

.btn {
  @apply rounded-full bg-sky-500 text-gray-200 font-medium transition-all duration-300 shadow-lg hover:shadow-xl hover:bg-sky-400 active:scale-95;
}

.btn-sm {
  @apply h-[48px] px-4 text-base;
}

.btn-lg {
  @apply h-[56px] px-10 text-base;
}

.btn-link {
  @apply text-base;
}

.section {
  @apply py-8 lg:py-24 lg:h-screen flex items-center text-sky-900 dark:text-gray-200;
}

.gradient-white {
  @apply bg-gradient-to-r from-[#f1f1f1] to-[#FFFFFF];
}

.gradient-navy-dark {
  @apply dark:bg-gradient-to-r dark:from-[#09203f] dark:to-[#101A32];
}

.active {
  background-color: #f7f9f9c2;
  color: rgb(52, 152, 219, 0.6);
  padding: 1rem;
  border-radius: 100%;
}
